canvas,
.fpe-wrapper,
.fpe {
  width: 100%;
  height: 100%;
  max-height: 100%;
}
.plan-wrapper{
  position: relative;
  height: 100%;
}
.fpe-scale-bar {
  display: none;
}
.fpe-marker {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1000;
  contain: layout;
  will-change: transform;
}
.defalut-marker {
  border-radius: 100%;
  background: #ffa500;
  width: 12px;
  height: 12px;
}
.cursor-marker {
  background: #ff0000;
}
.icon-marker {
  border-radius: 100%;
  width: 36px;
  height: 36px;
  background-color: black;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
/* safety resources */ 
.aed {
  background-image: url('https://takashi-honzawa.github.io/retool-template-icons/markers/AED.png');
}
.emergencyExit {
  background-image: url('https://takashi-honzawa.github.io/retool-template-icons/markers/emergency-exit.png');
}
.fireHose {
  background-image: url('https://takashi-honzawa.github.io/retool-template-icons/markers/fire-hose.png');
}
.fireAlarm {
  background-image: url('https://takashi-honzawa.github.io/retool-template-icons/markers/fire-alarm.png');
}
.extinguisher {
  background-image: url('https://takashi-honzawa.github.io/retool-template-icons/markers/fire-extinguisher.png');
}
.sanitizer {
  background-image: url('https://takashi-honzawa.github.io/retool-template-icons/markers/sanitize.png');
}
/* amenities */
.meetingRoom {
  background-image: url('https://takashi-honzawa.github.io/retool-template-icons/desk-quality-index/meeting.png');
}
.socializeSpace {
  background-image: url('https://takashi-honzawa.github.io/retool-template-icons/desk-quality-index/socialize.png');
}
.restroom {
  background-image: url('https://takashi-honzawa.github.io/retool-template-icons/desk-quality-index/restroom.png');
}
.storage {
  background-image: url('https://takashi-honzawa.github.io/retool-template-icons/desk-quality-index/storage.png');
}
.elevator {
  background-image: url('https://takashi-honzawa.github.io/retool-template-icons/desk-quality-index/elevator.png');
}
.staircase {
  background-image: url('https://takashi-honzawa.github.io/retool-template-icons/desk-quality-index/staircase.png');
}
.plant {
  background-image: url('https://takashi-honzawa.github.io/retool-template-icons/desk-quality-index/plant.png');
}
/* best/worst stars */
.best {
  width: 24px;
  height: 24px;
  border: 2pt solid #21ff00;
  background-color: white/*transparent*/;
  background-image: url('https://takashi-honzawa.github.io/retool-template-icons/desk-quality-index/star-best.png');
}
.worst {
  width: 24px;
  height: 24px;
  border: 2pt solid #df9a9a;
  background-color: white/*transparent*/;
  background-image: url('https://takashi-honzawa.github.io/retool-template-icons/desk-quality-index/star-worst.png');
}